<% layout('/layouts/boilerplate') -%>
<body>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        
        <h3>Create a New Listing</h3>
        <form  class="needs-validation" method="POST" action="/listings"  enctype="multipart/form-data" >
          <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter title" type="text" class="form-control"  autocomplete="off" required/>
            <div class="valid-feedback">
             Title Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a valid Title.
          </div>
          </div>
          &nbsp;
          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" autocomplete="off" required></textarea>
            <div class="invalid-feedback">
              Please enter short description.
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]"  type="file" class="form-control"  />
          </div>
          &nbsp;
          <div class="form-group">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter price" class="form-control" autocomplete="off"  required />
           <div class="invalid-feedback">
             Please enter a valid price.
           </div>
          </div>
          &nbsp;
          <div class="form-group">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control"  autocomplete="off" required/>
            <div class="invalid-feedback">
              Please enter valid country.
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" autocomplete="off" required />
            <div class="invalid-feedback">
              Please enter valid Location.
            </div>
          </div>
          &nbsp;
          <button class="btn btn-dark addbtn">Add</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>