<% layout('/layouts/boilerplate') -%>
<body>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings">
          <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image][url]" placeholder="Enter image URL/Link" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" />
          </div>
          <div class="form-group">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" />
          </div>
          <button class="btn btn-dark addbtn">Add</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>